@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
html{
  border: 5px solid #00ffff;
}
html body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  margin: 0%;
  padding: 13%;
  padding-bottom: 15%;
  background-color: #180a29;
 /* background-image: url(../images/weather1.jpg);*/
}
img{
  width:100px;
  height:100px;
  text-align: center;
}
input[type="text"]{
  background-color:#00ffff !important;
  font-size: medium;
}
.searchBar {
  border-radius: 15px;
  width: 50%;
  height: 40px;
  padding-left: 2%;
  
  /*background:  url(../images/download.png) no-repeat scroll 7px 7px;
*/
}
table {
  border-collapse: separate;
  display: block !important;
  width: 100% !important;
}
th td {
  text-align: center;
}
.card-show {
  margin-top: 5%;
  text-align: center;
  display: block;
  align-items: center;
  padding-left: 35%;
}
/*input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }*/

/* input[type="search"]::placeholder {
    color: #bbb;
  }*/
.search {
  align-items: center;
  text-align: center;
  padding-top: 5%;
}
.main {
  align-items: center;
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
}

.card {
  /*background-image: url(../images/weather1.jpg);*/
  background-color: #180a29 !important;
  background-size: cover;
  /*background-color: #07a9f5 ;*/
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 0;
  box-shadow: 5px 5px 15px 5px #00ffff;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  color: #00ffff;
}
.card:hover {
  background-color: #00ffff !important;
  transition: 0.5s;
  color: #180a29;
  border-radius: 5px;
  
  border: none;
  box-shadow: 5px, 5px, 10px,5px, #180a29;
}
