@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
:root{
  --light:#fff;
  --dark:#180a29;
  --mainlight:#eceff1;
  --grey:#eceff1;
  --green:#00ffff;
  --black:#000;
  --light-blue:#00c4ff;
  --blue:#0f91fc;
}

html body {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  margin: 0%;
  padding: 0%;
  padding-bottom: 0%;
  /* background-color: var(--dark) !important; */
 /* background-image: url(../images/weather1.jpg);*/
}
body {
  min-height: 100vh;
}
img{
  width:100px;
  height:100px;
  text-align: center;
}

input[type="text"]{
  /* background-color:#00ffff !important; */
  font-size: medium;
}
.icon-switch{
  font-size: 22px ;
  padding-left:"1%";
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
.searchBar {
  border-radius: 15px;
  width: 50%;
  height: 40px;
  padding-left: 2%;
  
  /*background:  url(../images/download.png) no-repeat scroll 7px 7px;
*/
}
table {
  border-collapse: separate;
  display: block !important;
  width: 100% !important;
}
th td {
  text-align: center;
}
.toggle{
  border-radius:50%;
}
.card-show {
  margin-top: 5%;
  /* text-align: center; */
  display: flex;
  /* align-items: center; */
  justify-content:center;
  padding-left: 0%;
}
.search {
  align-items: center;
  text-align: center;
  padding-top: 5%;
  /* border: 1px solid black; */
}
.main-dark {
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(var(--dark),var(--black));
  min-height: 81vh;
}
.main{
  align-items: center;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(var(--green),var(--blue));
  min-height: 81vh;
}
.headline{
  text-align: center;
  font-family: cursive;
}

.card-light{
  /* background-color: var(--light-blue) !important; */
  color: var(--black);
  box-shadow: 5px 5px 15px 5px var(--black);
}
.card-dark{
  background-color: var(--dark) !important;
  color: var(--green);
  box-shadow: 5px 5px 15px 5px var(--green);
}

.card {
  background-size: cover;
  /*background-color: #07a9f5 ;*/
  /* background: url(./snow.jpg); */
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 0;
  
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  
}
.card:hover {
  /* background-color: var(--blue) !important; */
  transition: 0.5s;
  /* color: var(--dark); */
  border-radius: 5px;
  
  border: none;
  box-shadow: 5px, 5px, 10px,5px, var(--dark);
}

.theme-button{
  border-radius: 45%;
}

.pill-button{
  background-color: #3357f7;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.pill-button:hover {
  background-color: #6796fb;
}
.button{
  border: none;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15%;
  background-color: #fff;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-dark{
  background-color: var(--dark) ;
  border: 1px solid var(--green);
  color:var(--green);
}
.button-light{
  background-color: var(--blue);
  border: 1px solid var(--dark);
  color:var(--dark);
}
.button-dark:hover{
  color: var(--dark);
  background-color: var(--green);
}
.button-light:hover{
  color: var(--light-blue);
  background-color: var(--dark);
}

